img {
    width: 100%;
    height: auto;
    display: block;
    /* https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image
    vertical-align: middle; */
}

body {
    max-width: 1900px;
    margin: 0 auto;

    display: flex;

    flex-wrap: wrap;

    img {
        /* width: 400px; */
        flex-basis: 400px;
        flex-grow: 1;
        aspect-ratio: 1/1;
        /* object-fit: cover; */
    }
}
html {
    font-size: 80px;
}
body.med-grid {
    background-color: bisque;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;

    img {
        box-sizing: border-box;
        aspect-ratio: 1/1;
        /* height: 100%; */
        object-fit: cover;
        object-position: center;
        border: 0.5rem solid black;
        border-radius: 1rem;
    }
    img:hover {
        scale: 1.01;
    }
}

/* section {
    max-width: 1280px;
    margin: 0 auto;
} */
/* nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
} */
/* h1 {
} */

/* @media (width > 800px) {
    article {
        display: flex;
    }
    article p {
        max-width: 40ch;
        white-space: nowrap;
    }
    .tekst-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    img {
        width: 10px;
    }
} */
